.sidebar {
    background-color: #202020;
    flex-direction: column;
    bottom: 0;
    width: 70px;

    .navbar-nav {
        flex-direction: column;
    }

    a, .nav-link {
        margin: 0;
        padding: 0 !important;
        border: 1px solid yellow;
    }
}